#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	# No build needed

override_dh_auto_install:
	# Create directories
	mkdir -p debian/container-inventory/usr/bin
	mkdir -p debian/container-inventory/usr/lib/container-inventory
	
	# Install Python package
	cp -r container_inventory debian/container-inventory/usr/lib/container-inventory/
	
	# Install main executable
	install -m 0755 container-inventory debian/container-inventory/usr/bin/
